<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.westlife.demo.mapper.SchoolMapper">
	<select id="selectAll" resultType="com.westlife.demo.model.School">
	
	    SELECT * from school ORDER by id 
	    
	</select>
</mapper>